/* styles.css */
.high-contrast {
    background-color: black !important;
    color: rgb(20, 169, 196) !important;
  }
  
  .high-contrast .form-control {
    background-color: black !important;
    color: white !important;
    border-color: white !important;
  }
  
  .high-contrast .form-text {
    color: white !important;
  }
  
  .high-contrast .btn {
    background-color: rgb(10, 103, 119) !important;
    color: black !important;
  }
  